<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.DbPubFileMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbPubFile" >
    <id column="pub_id" property="pubId" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="pol_id" property="polId" jdbcType="VARCHAR" />
    <result column="orig_path" property="origPath" jdbcType="VARCHAR" />
    <result column="pub_path" property="pubPath" jdbcType="VARCHAR" />
    <result column="sen_level" property="senLevel" jdbcType="VARCHAR" />
    <result column="use_scope" property="useScope" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="use_type" property="useType" jdbcType="VARCHAR" />
    <result column="pub_name" property="pubName" jdbcType="VARCHAR" />
    <result column="pub_desc" property="pubDesc" jdbcType="VARCHAR" />
    <result column="run_status" property="runStatus" jdbcType="VARCHAR" />
    <result column="extract_type" property="extractType" jdbcType="VARCHAR" />
    <result column="backup_path" property="backupPath" jdbcType="VARCHAR" />
    <result column="use_fre" property="useFre" jdbcType="INTEGER" />
    <result column="again_acc" property="againAcc" jdbcType="VARCHAR" />
    <result column="report_case" property="reportCase" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="VARCHAR" />
    <result column="pub_user_id" property="pubUserId" jdbcType="VARCHAR" />
    <result column="pub_org_id" property="pubOrgId" jdbcType="VARCHAR" />
    <result column="upd_user_id" property="updUserId" jdbcType="VARCHAR" />
    <result column="upd_tm" property="updTm" jdbcType="TIMESTAMP" />
    <result column="crt_user_id" property="crtUserId" jdbcType="VARCHAR" />
    <result column="crt_org_id" property="crtOrgId" jdbcType="VARCHAR" />
    <result column="crt_tm" property="crtTm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pub_id, model_id, pol_id, orig_path, pub_path, sen_level, use_scope, start_date, 
    end_date, file_type, use_type, pub_name, pub_desc, run_status, extract_type, backup_path, 
    use_fre, again_acc, report_case, status, del_status, pub_user_id, pub_org_id, upd_user_id, 
    upd_tm, crt_user_id, crt_org_id, crt_tm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.DbPubFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_pub_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from db_pub_file
    where pub_id = #{pubId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from db_pub_file
    where pub_id = #{pubId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbPubFileExample" >
    delete from db_pub_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbPubFile" >
    insert into db_pub_file (pub_id, model_id, pol_id, 
      orig_path, pub_path, sen_level, 
      use_scope, start_date, end_date, 
      file_type, use_type, pub_name, 
      pub_desc, run_status, extract_type, 
      backup_path, use_fre, again_acc, 
      report_case, status, del_status, 
      pub_user_id, pub_org_id, upd_user_id, 
      upd_tm, crt_user_id, crt_org_id, 
      crt_tm)
    values (#{pubId,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{polId,jdbcType=VARCHAR}, 
      #{origPath,jdbcType=VARCHAR}, #{pubPath,jdbcType=VARCHAR}, #{senLevel,jdbcType=VARCHAR}, 
      #{useScope,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{fileType,jdbcType=VARCHAR}, #{useType,jdbcType=VARCHAR}, #{pubName,jdbcType=VARCHAR}, 
      #{pubDesc,jdbcType=VARCHAR}, #{runStatus,jdbcType=VARCHAR}, #{extractType,jdbcType=VARCHAR}, 
      #{backupPath,jdbcType=VARCHAR}, #{useFre,jdbcType=INTEGER}, #{againAcc,jdbcType=VARCHAR}, 
      #{reportCase,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, 
      #{pubUserId,jdbcType=VARCHAR}, #{pubOrgId,jdbcType=VARCHAR}, #{updUserId,jdbcType=VARCHAR}, 
      #{updTm,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=VARCHAR}, #{crtOrgId,jdbcType=VARCHAR}, 
      #{crtTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbPubFile" >
    insert into db_pub_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pubId != null" >
        pub_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="polId != null" >
        pol_id,
      </if>
      <if test="origPath != null" >
        orig_path,
      </if>
      <if test="pubPath != null" >
        pub_path,
      </if>
      <if test="senLevel != null" >
        sen_level,
      </if>
      <if test="useScope != null" >
        use_scope,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="useType != null" >
        use_type,
      </if>
      <if test="pubName != null" >
        pub_name,
      </if>
      <if test="pubDesc != null" >
        pub_desc,
      </if>
      <if test="runStatus != null" >
        run_status,
      </if>
      <if test="extractType != null" >
        extract_type,
      </if>
      <if test="backupPath != null" >
        backup_path,
      </if>
      <if test="useFre != null" >
        use_fre,
      </if>
      <if test="againAcc != null" >
        again_acc,
      </if>
      <if test="reportCase != null" >
        report_case,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="pubUserId != null" >
        pub_user_id,
      </if>
      <if test="pubOrgId != null" >
        pub_org_id,
      </if>
      <if test="updUserId != null" >
        upd_user_id,
      </if>
      <if test="updTm != null" >
        upd_tm,
      </if>
      <if test="crtUserId != null" >
        crt_user_id,
      </if>
      <if test="crtOrgId != null" >
        crt_org_id,
      </if>
      <if test="crtTm != null" >
        crt_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pubId != null" >
        #{pubId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="polId != null" >
        #{polId,jdbcType=VARCHAR},
      </if>
      <if test="origPath != null" >
        #{origPath,jdbcType=VARCHAR},
      </if>
      <if test="pubPath != null" >
        #{pubPath,jdbcType=VARCHAR},
      </if>
      <if test="senLevel != null" >
        #{senLevel,jdbcType=VARCHAR},
      </if>
      <if test="useScope != null" >
        #{useScope,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="useType != null" >
        #{useType,jdbcType=VARCHAR},
      </if>
      <if test="pubName != null" >
        #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubDesc != null" >
        #{pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null" >
        #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="backupPath != null" >
        #{backupPath,jdbcType=VARCHAR},
      </if>
      <if test="useFre != null" >
        #{useFre,jdbcType=INTEGER},
      </if>
      <if test="againAcc != null" >
        #{againAcc,jdbcType=VARCHAR},
      </if>
      <if test="reportCase != null" >
        #{reportCase,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null" >
        #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null" >
        #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbPubFileExample" resultType="java.lang.Integer" >
    select count(*) from db_pub_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_pub_file
    <set >
      <if test="record.pubId != null" >
        pub_id = #{record.pubId,jdbcType=VARCHAR},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=VARCHAR},
      </if>
      <if test="record.polId != null" >
        pol_id = #{record.polId,jdbcType=VARCHAR},
      </if>
      <if test="record.origPath != null" >
        orig_path = #{record.origPath,jdbcType=VARCHAR},
      </if>
      <if test="record.pubPath != null" >
        pub_path = #{record.pubPath,jdbcType=VARCHAR},
      </if>
      <if test="record.senLevel != null" >
        sen_level = #{record.senLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.useScope != null" >
        use_scope = #{record.useScope,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.fileType != null" >
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.useType != null" >
        use_type = #{record.useType,jdbcType=VARCHAR},
      </if>
      <if test="record.pubName != null" >
        pub_name = #{record.pubName,jdbcType=VARCHAR},
      </if>
      <if test="record.pubDesc != null" >
        pub_desc = #{record.pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.runStatus != null" >
        run_status = #{record.runStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.extractType != null" >
        extract_type = #{record.extractType,jdbcType=VARCHAR},
      </if>
      <if test="record.backupPath != null" >
        backup_path = #{record.backupPath,jdbcType=VARCHAR},
      </if>
      <if test="record.useFre != null" >
        use_fre = #{record.useFre,jdbcType=INTEGER},
      </if>
      <if test="record.againAcc != null" >
        again_acc = #{record.againAcc,jdbcType=VARCHAR},
      </if>
      <if test="record.reportCase != null" >
        report_case = #{record.reportCase,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pubUserId != null" >
        pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.pubOrgId != null" >
        pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.updUserId != null" >
        upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTm != null" >
        upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUserId != null" >
        crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtOrgId != null" >
        crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTm != null" >
        crt_tm = #{record.crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_pub_file
    set pub_id = #{record.pubId,jdbcType=VARCHAR},
      model_id = #{record.modelId,jdbcType=VARCHAR},
      pol_id = #{record.polId,jdbcType=VARCHAR},
      orig_path = #{record.origPath,jdbcType=VARCHAR},
      pub_path = #{record.pubPath,jdbcType=VARCHAR},
      sen_level = #{record.senLevel,jdbcType=VARCHAR},
      use_scope = #{record.useScope,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      use_type = #{record.useType,jdbcType=VARCHAR},
      pub_name = #{record.pubName,jdbcType=VARCHAR},
      pub_desc = #{record.pubDesc,jdbcType=VARCHAR},
      run_status = #{record.runStatus,jdbcType=VARCHAR},
      extract_type = #{record.extractType,jdbcType=VARCHAR},
      backup_path = #{record.backupPath,jdbcType=VARCHAR},
      use_fre = #{record.useFre,jdbcType=INTEGER},
      again_acc = #{record.againAcc,jdbcType=VARCHAR},
      report_case = #{record.reportCase,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{record.crtTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbPubFile" >
    update db_pub_file
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="polId != null" >
        pol_id = #{polId,jdbcType=VARCHAR},
      </if>
      <if test="origPath != null" >
        orig_path = #{origPath,jdbcType=VARCHAR},
      </if>
      <if test="pubPath != null" >
        pub_path = #{pubPath,jdbcType=VARCHAR},
      </if>
      <if test="senLevel != null" >
        sen_level = #{senLevel,jdbcType=VARCHAR},
      </if>
      <if test="useScope != null" >
        use_scope = #{useScope,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="useType != null" >
        use_type = #{useType,jdbcType=VARCHAR},
      </if>
      <if test="pubName != null" >
        pub_name = #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubDesc != null" >
        pub_desc = #{pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        run_status = #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null" >
        extract_type = #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="backupPath != null" >
        backup_path = #{backupPath,jdbcType=VARCHAR},
      </if>
      <if test="useFre != null" >
        use_fre = #{useFre,jdbcType=INTEGER},
      </if>
      <if test="againAcc != null" >
        again_acc = #{againAcc,jdbcType=VARCHAR},
      </if>
      <if test="reportCase != null" >
        report_case = #{reportCase,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null" >
        pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null" >
        pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        upd_user_id = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        upd_tm = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        crt_tm = #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pub_id = #{pubId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbPubFile" >
    update db_pub_file
    set model_id = #{modelId,jdbcType=VARCHAR},
      pol_id = #{polId,jdbcType=VARCHAR},
      orig_path = #{origPath,jdbcType=VARCHAR},
      pub_path = #{pubPath,jdbcType=VARCHAR},
      sen_level = #{senLevel,jdbcType=VARCHAR},
      use_scope = #{useScope,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      file_type = #{fileType,jdbcType=VARCHAR},
      use_type = #{useType,jdbcType=VARCHAR},
      pub_name = #{pubName,jdbcType=VARCHAR},
      pub_desc = #{pubDesc,jdbcType=VARCHAR},
      run_status = #{runStatus,jdbcType=VARCHAR},
      extract_type = #{extractType,jdbcType=VARCHAR},
      backup_path = #{backupPath,jdbcType=VARCHAR},
      use_fre = #{useFre,jdbcType=INTEGER},
      again_acc = #{againAcc,jdbcType=VARCHAR},
      report_case = #{reportCase,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      upd_user_id = #{updUserId,jdbcType=VARCHAR},
      upd_tm = #{updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{crtTm,jdbcType=TIMESTAMP}
    where pub_id = #{pubId,jdbcType=VARCHAR}
  </update>
</mapper>