<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microcore.center.mapper.DbPubTableExtMapper">
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbPubTableExt">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="ext_attr_cname" jdbcType="VARCHAR" property="extAttrCname" />
    <result column="ext_attr_ename" jdbcType="VARCHAR" property="extAttrEname" />
    <result column="ext_value" jdbcType="VARCHAR" property="extValue" />
    <result column="template_type" jdbcType="VARCHAR" property="templateType" />
    <result column="label_id" jdbcType="VARCHAR" property="labelId" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ext_attr_cname, ext_attr_ename, ext_value, template_type, label_id, data_type
  </sql>
  <select id="selectByExample" parameterType="com.microcore.center.model.DbPubTableExtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_pub_table_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbPubTableExtExample">
    delete from db_pub_table_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbPubTableExt">
    insert into db_pub_table_ext (id, ext_attr_cname, ext_attr_ename, 
      ext_value, template_type, label_id, 
      data_type)
    values (#{id,jdbcType=VARCHAR}, #{extAttrCname,jdbcType=VARCHAR}, #{extAttrEname,jdbcType=VARCHAR}, 
      #{extValue,jdbcType=VARCHAR}, #{templateType,jdbcType=VARCHAR}, #{labelId,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbPubTableExt">
    insert into db_pub_table_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="extAttrCname != null">
        ext_attr_cname,
      </if>
      <if test="extAttrEname != null">
        ext_attr_ename,
      </if>
      <if test="extValue != null">
        ext_value,
      </if>
      <if test="templateType != null">
        template_type,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="extAttrCname != null">
        #{extAttrCname,jdbcType=VARCHAR},
      </if>
      <if test="extAttrEname != null">
        #{extAttrEname,jdbcType=VARCHAR},
      </if>
      <if test="extValue != null">
        #{extValue,jdbcType=VARCHAR},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbPubTableExtExample" resultType="java.lang.Integer">
    select count(*) from db_pub_table_ext
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_pub_table_ext
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.extAttrCname != null">
        ext_attr_cname = #{record.extAttrCname,jdbcType=VARCHAR},
      </if>
      <if test="record.extAttrEname != null">
        ext_attr_ename = #{record.extAttrEname,jdbcType=VARCHAR},
      </if>
      <if test="record.extValue != null">
        ext_value = #{record.extValue,jdbcType=VARCHAR},
      </if>
      <if test="record.templateType != null">
        template_type = #{record.templateType,jdbcType=VARCHAR},
      </if>
      <if test="record.labelId != null">
        label_id = #{record.labelId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_pub_table_ext
    set id = #{record.id,jdbcType=VARCHAR},
      ext_attr_cname = #{record.extAttrCname,jdbcType=VARCHAR},
      ext_attr_ename = #{record.extAttrEname,jdbcType=VARCHAR},
      ext_value = #{record.extValue,jdbcType=VARCHAR},
      template_type = #{record.templateType,jdbcType=VARCHAR},
      label_id = #{record.labelId,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>