<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.DbPubTableMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbPubTable" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    <result column="source_db_id" property="sourceDbId" jdbcType="VARCHAR" />
    <result column="source_db_name" property="sourceDbName" jdbcType="VARCHAR" />
    <result column="trigger_type" property="triggerType" jdbcType="VARCHAR" />
    <result column="pub_name" property="pubName" jdbcType="VARCHAR" />
    <result column="pub_desc" property="pubDesc" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="model_publisher" property="modelPublisher" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="make_table_name" property="makeTableName" jdbcType="VARCHAR" />
    <result column="table_comment" property="tableComment" jdbcType="VARCHAR" />
    <result column="run_status" property="runStatus" jdbcType="VARCHAR" />
    <result column="pub_status" property="pubStatus" jdbcType="VARCHAR" />
    <result column="pub_user_id" property="pubUserId" jdbcType="VARCHAR" />
    <result column="pub_org_id" property="pubOrgId" jdbcType="VARCHAR" />
    <result column="make_type" property="makeType" jdbcType="VARCHAR" />
    <result column="extract_type" property="extractType" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="auth_scope" property="authScope" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="VARCHAR" />
    <result column="upd_user_id" property="updUserId" jdbcType="VARCHAR" />
    <result column="upd_org_id" property="updOrgId" jdbcType="VARCHAR" />
    <result column="upd_tm" property="updTm" jdbcType="TIMESTAMP" />
    <result column="crt_user_id" property="crtUserId" jdbcType="VARCHAR" />
    <result column="crt_org_id" property="crtOrgId" jdbcType="VARCHAR" />
    <result column="crt_tm" property="crtTm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, model_id, source_db_id, source_db_name, trigger_type, pub_name, pub_desc, data_type, 
    model_publisher, publish_time, table_name, make_table_name, table_comment, run_status, 
    pub_status, pub_user_id, pub_org_id, make_type, extract_type, task_id, auth_scope, 
    del_status, upd_user_id, upd_org_id, upd_tm, crt_user_id, crt_org_id, crt_tm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.DbPubTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_pub_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from db_pub_table
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from db_pub_table
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbPubTableExample" >
    delete from db_pub_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbPubTable" >
    insert into db_pub_table (id, model_id, source_db_id, 
      source_db_name, trigger_type, pub_name, 
      pub_desc, data_type, model_publisher, 
      publish_time, table_name, make_table_name, 
      table_comment, run_status, pub_status, 
      pub_user_id, pub_org_id, make_type, 
      extract_type, task_id, auth_scope, 
      del_status, upd_user_id, upd_org_id, 
      upd_tm, crt_user_id, crt_org_id, 
      crt_tm)
    values (#{id,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{sourceDbId,jdbcType=VARCHAR}, 
      #{sourceDbName,jdbcType=VARCHAR}, #{triggerType,jdbcType=VARCHAR}, #{pubName,jdbcType=VARCHAR}, 
      #{pubDesc,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{modelPublisher,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{tableName,jdbcType=VARCHAR}, #{makeTableName,jdbcType=VARCHAR}, 
      #{tableComment,jdbcType=VARCHAR}, #{runStatus,jdbcType=VARCHAR}, #{pubStatus,jdbcType=VARCHAR}, 
      #{pubUserId,jdbcType=VARCHAR}, #{pubOrgId,jdbcType=VARCHAR}, #{makeType,jdbcType=VARCHAR}, 
      #{extractType,jdbcType=VARCHAR}, #{taskId,jdbcType=INTEGER}, #{authScope,jdbcType=VARCHAR}, 
      #{delStatus,jdbcType=VARCHAR}, #{updUserId,jdbcType=VARCHAR}, #{updOrgId,jdbcType=VARCHAR}, 
      #{updTm,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=VARCHAR}, #{crtOrgId,jdbcType=VARCHAR}, 
      #{crtTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbPubTable" >
    insert into db_pub_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="sourceDbId != null" >
        source_db_id,
      </if>
      <if test="sourceDbName != null" >
        source_db_name,
      </if>
      <if test="triggerType != null" >
        trigger_type,
      </if>
      <if test="pubName != null" >
        pub_name,
      </if>
      <if test="pubDesc != null" >
        pub_desc,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="modelPublisher != null" >
        model_publisher,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="makeTableName != null" >
        make_table_name,
      </if>
      <if test="tableComment != null" >
        table_comment,
      </if>
      <if test="runStatus != null" >
        run_status,
      </if>
      <if test="pubStatus != null" >
        pub_status,
      </if>
      <if test="pubUserId != null" >
        pub_user_id,
      </if>
      <if test="pubOrgId != null" >
        pub_org_id,
      </if>
      <if test="makeType != null" >
        make_type,
      </if>
      <if test="extractType != null" >
        extract_type,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="authScope != null" >
        auth_scope,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="updUserId != null" >
        upd_user_id,
      </if>
      <if test="updOrgId != null" >
        upd_org_id,
      </if>
      <if test="updTm != null" >
        upd_tm,
      </if>
      <if test="crtUserId != null" >
        crt_user_id,
      </if>
      <if test="crtOrgId != null" >
        crt_org_id,
      </if>
      <if test="crtTm != null" >
        crt_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDbId != null" >
        #{sourceDbId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDbName != null" >
        #{sourceDbName,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null" >
        #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="pubName != null" >
        #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubDesc != null" >
        #{pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="modelPublisher != null" >
        #{modelPublisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="makeTableName != null" >
        #{makeTableName,jdbcType=VARCHAR},
      </if>
      <if test="tableComment != null" >
        #{tableComment,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubStatus != null" >
        #{pubStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null" >
        #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null" >
        #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="makeType != null" >
        #{makeType,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null" >
        #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="authScope != null" >
        #{authScope,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbPubTableExample" resultType="java.lang.Integer" >
    select count(*) from db_pub_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_pub_table
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDbId != null" >
        source_db_id = #{record.sourceDbId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDbName != null" >
        source_db_name = #{record.sourceDbName,jdbcType=VARCHAR},
      </if>
      <if test="record.triggerType != null" >
        trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      </if>
      <if test="record.pubName != null" >
        pub_name = #{record.pubName,jdbcType=VARCHAR},
      </if>
      <if test="record.pubDesc != null" >
        pub_desc = #{record.pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.modelPublisher != null" >
        model_publisher = #{record.modelPublisher,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.makeTableName != null" >
        make_table_name = #{record.makeTableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableComment != null" >
        table_comment = #{record.tableComment,jdbcType=VARCHAR},
      </if>
      <if test="record.runStatus != null" >
        run_status = #{record.runStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pubStatus != null" >
        pub_status = #{record.pubStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pubUserId != null" >
        pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.pubOrgId != null" >
        pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.makeType != null" >
        make_type = #{record.makeType,jdbcType=VARCHAR},
      </if>
      <if test="record.extractType != null" >
        extract_type = #{record.extractType,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.authScope != null" >
        auth_scope = #{record.authScope,jdbcType=VARCHAR},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updUserId != null" >
        upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updOrgId != null" >
        upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTm != null" >
        upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUserId != null" >
        crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtOrgId != null" >
        crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTm != null" >
        crt_tm = #{record.crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_pub_table
    set id = #{record.id,jdbcType=VARCHAR},
      model_id = #{record.modelId,jdbcType=VARCHAR},
      source_db_id = #{record.sourceDbId,jdbcType=VARCHAR},
      source_db_name = #{record.sourceDbName,jdbcType=VARCHAR},
      trigger_type = #{record.triggerType,jdbcType=VARCHAR},
      pub_name = #{record.pubName,jdbcType=VARCHAR},
      pub_desc = #{record.pubDesc,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=VARCHAR},
      model_publisher = #{record.modelPublisher,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      make_table_name = #{record.makeTableName,jdbcType=VARCHAR},
      table_comment = #{record.tableComment,jdbcType=VARCHAR},
      run_status = #{record.runStatus,jdbcType=VARCHAR},
      pub_status = #{record.pubStatus,jdbcType=VARCHAR},
      pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      make_type = #{record.makeType,jdbcType=VARCHAR},
      extract_type = #{record.extractType,jdbcType=VARCHAR},
      task_id = #{record.taskId,jdbcType=INTEGER},
      auth_scope = #{record.authScope,jdbcType=VARCHAR},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{record.crtTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbPubTable" >
    update db_pub_table
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDbId != null" >
        source_db_id = #{sourceDbId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDbName != null" >
        source_db_name = #{sourceDbName,jdbcType=VARCHAR},
      </if>
      <if test="triggerType != null" >
        trigger_type = #{triggerType,jdbcType=VARCHAR},
      </if>
      <if test="pubName != null" >
        pub_name = #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubDesc != null" >
        pub_desc = #{pubDesc,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="modelPublisher != null" >
        model_publisher = #{modelPublisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="makeTableName != null" >
        make_table_name = #{makeTableName,jdbcType=VARCHAR},
      </if>
      <if test="tableComment != null" >
        table_comment = #{tableComment,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        run_status = #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubStatus != null" >
        pub_status = #{pubStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null" >
        pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null" >
        pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="makeType != null" >
        make_type = #{makeType,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null" >
        extract_type = #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="authScope != null" >
        auth_scope = #{authScope,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        upd_user_id = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        upd_tm = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        crt_tm = #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbPubTable" >
    update db_pub_table
    set model_id = #{modelId,jdbcType=VARCHAR},
      source_db_id = #{sourceDbId,jdbcType=VARCHAR},
      source_db_name = #{sourceDbName,jdbcType=VARCHAR},
      trigger_type = #{triggerType,jdbcType=VARCHAR},
      pub_name = #{pubName,jdbcType=VARCHAR},
      pub_desc = #{pubDesc,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      model_publisher = #{modelPublisher,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      table_name = #{tableName,jdbcType=VARCHAR},
      make_table_name = #{makeTableName,jdbcType=VARCHAR},
      table_comment = #{tableComment,jdbcType=VARCHAR},
      run_status = #{runStatus,jdbcType=VARCHAR},
      pub_status = #{pubStatus,jdbcType=VARCHAR},
      pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      make_type = #{makeType,jdbcType=VARCHAR},
      extract_type = #{extractType,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=INTEGER},
      auth_scope = #{authScope,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      upd_user_id = #{updUserId,jdbcType=VARCHAR},
      upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      upd_tm = #{updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{crtTm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>