<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microcore.center.mapper.DbServiceParamMapper">
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbServiceParam">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="must_fill" jdbcType="VARCHAR" property="mustFill" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="auth_type" jdbcType="VARCHAR" property="authType" />
    <result column="auth_scope" jdbcType="VARCHAR" property="authScope" />
    <result column="auth_start_time" jdbcType="DATE" property="authStartTime" />
    <result column="auth_end_date" jdbcType="DATE" property="authEndDate" />
    <result column="security_level" jdbcType="VARCHAR" property="securityLevel" />
    <result column="encrypt_type" jdbcType="VARCHAR" property="encryptType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, service_id, chinese_name, english_name, type, default_value, must_fill, kind, 
    auth_type, auth_scope, auth_start_time, auth_end_date, security_level, encrypt_type
  </sql>
  <select id="selectByExample" parameterType="com.microcore.center.model.DbServiceParamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_service_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_service_param
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_service_param
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbServiceParamExample">
    delete from db_service_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbServiceParam">
    insert into db_service_param (id, service_id, chinese_name, 
      english_name, type, default_value, 
      must_fill, kind, auth_type, 
      auth_scope, auth_start_time, auth_end_date, 
      security_level, encrypt_type)
    values (#{id,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{chineseName,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{defaultValue,jdbcType=VARCHAR}, 
      #{mustFill,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, #{authType,jdbcType=VARCHAR}, 
      #{authScope,jdbcType=VARCHAR}, #{authStartTime,jdbcType=DATE}, #{authEndDate,jdbcType=DATE}, 
      #{securityLevel,jdbcType=VARCHAR}, #{encryptType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbServiceParam">
    insert into db_service_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="chineseName != null">
        chinese_name,
      </if>
      <if test="englishName != null">
        english_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="defaultValue != null">
        default_value,
      </if>
      <if test="mustFill != null">
        must_fill,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="authType != null">
        auth_type,
      </if>
      <if test="authScope != null">
        auth_scope,
      </if>
      <if test="authStartTime != null">
        auth_start_time,
      </if>
      <if test="authEndDate != null">
        auth_end_date,
      </if>
      <if test="securityLevel != null">
        security_level,
      </if>
      <if test="encryptType != null">
        encrypt_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="mustFill != null">
        #{mustFill,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="authType != null">
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="authScope != null">
        #{authScope,jdbcType=VARCHAR},
      </if>
      <if test="authStartTime != null">
        #{authStartTime,jdbcType=DATE},
      </if>
      <if test="authEndDate != null">
        #{authEndDate,jdbcType=DATE},
      </if>
      <if test="securityLevel != null">
        #{securityLevel,jdbcType=VARCHAR},
      </if>
      <if test="encryptType != null">
        #{encryptType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbServiceParamExample" resultType="java.lang.Integer">
    select count(*) from db_service_param
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_service_param
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceId != null">
        service_id = #{record.serviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.chineseName != null">
        chinese_name = #{record.chineseName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null">
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultValue != null">
        default_value = #{record.defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.mustFill != null">
        must_fill = #{record.mustFill,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null">
        kind = #{record.kind,jdbcType=VARCHAR},
      </if>
      <if test="record.authType != null">
        auth_type = #{record.authType,jdbcType=VARCHAR},
      </if>
      <if test="record.authScope != null">
        auth_scope = #{record.authScope,jdbcType=VARCHAR},
      </if>
      <if test="record.authStartTime != null">
        auth_start_time = #{record.authStartTime,jdbcType=DATE},
      </if>
      <if test="record.authEndDate != null">
        auth_end_date = #{record.authEndDate,jdbcType=DATE},
      </if>
      <if test="record.securityLevel != null">
        security_level = #{record.securityLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.encryptType != null">
        encrypt_type = #{record.encryptType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_service_param
    set id = #{record.id,jdbcType=VARCHAR},
      service_id = #{record.serviceId,jdbcType=VARCHAR},
      chinese_name = #{record.chineseName,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      default_value = #{record.defaultValue,jdbcType=VARCHAR},
      must_fill = #{record.mustFill,jdbcType=VARCHAR},
      kind = #{record.kind,jdbcType=VARCHAR},
      auth_type = #{record.authType,jdbcType=VARCHAR},
      auth_scope = #{record.authScope,jdbcType=VARCHAR},
      auth_start_time = #{record.authStartTime,jdbcType=DATE},
      auth_end_date = #{record.authEndDate,jdbcType=DATE},
      security_level = #{record.securityLevel,jdbcType=VARCHAR},
      encrypt_type = #{record.encryptType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbServiceParam">
    update db_service_param
    <set>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null">
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="mustFill != null">
        must_fill = #{mustFill,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="authType != null">
        auth_type = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="authScope != null">
        auth_scope = #{authScope,jdbcType=VARCHAR},
      </if>
      <if test="authStartTime != null">
        auth_start_time = #{authStartTime,jdbcType=DATE},
      </if>
      <if test="authEndDate != null">
        auth_end_date = #{authEndDate,jdbcType=DATE},
      </if>
      <if test="securityLevel != null">
        security_level = #{securityLevel,jdbcType=VARCHAR},
      </if>
      <if test="encryptType != null">
        encrypt_type = #{encryptType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbServiceParam">
    update db_service_param
    set service_id = #{serviceId,jdbcType=VARCHAR},
      chinese_name = #{chineseName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      must_fill = #{mustFill,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=VARCHAR},
      auth_type = #{authType,jdbcType=VARCHAR},
      auth_scope = #{authScope,jdbcType=VARCHAR},
      auth_start_time = #{authStartTime,jdbcType=DATE},
      auth_end_date = #{authEndDate,jdbcType=DATE},
      security_level = #{securityLevel,jdbcType=VARCHAR},
      encrypt_type = #{encryptType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>