<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.DbSubColumnMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbSubColumn" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="policy_id" property="policyId" jdbcType="VARCHAR" />
    <result column="distill_column_name" property="distillColumnName" jdbcType="VARCHAR" />
    <result column="distill_type" property="distillType" jdbcType="VARCHAR" />
    <result column="distill_comment" property="distillComment" jdbcType="VARCHAR" />
    <result column="store_column_name" property="storeColumnName" jdbcType="VARCHAR" />
    <result column="store_type" property="storeType" jdbcType="VARCHAR" />
    <result column="store_comment" property="storeComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, policy_id, distill_column_name, distill_type, distill_comment, store_column_name, 
    store_type, store_comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.DbSubColumnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_sub_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from db_sub_column
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from db_sub_column
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbSubColumnExample" >
    delete from db_sub_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbSubColumn" >
    insert into db_sub_column (id, pid, policy_id, 
      distill_column_name, distill_type, distill_comment, 
      store_column_name, store_type, store_comment
      )
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{policyId,jdbcType=VARCHAR}, 
      #{distillColumnName,jdbcType=VARCHAR}, #{distillType,jdbcType=VARCHAR}, #{distillComment,jdbcType=VARCHAR}, 
      #{storeColumnName,jdbcType=VARCHAR}, #{storeType,jdbcType=VARCHAR}, #{storeComment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbSubColumn" >
    insert into db_sub_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="policyId != null" >
        policy_id,
      </if>
      <if test="distillColumnName != null" >
        distill_column_name,
      </if>
      <if test="distillType != null" >
        distill_type,
      </if>
      <if test="distillComment != null" >
        distill_comment,
      </if>
      <if test="storeColumnName != null" >
        store_column_name,
      </if>
      <if test="storeType != null" >
        store_type,
      </if>
      <if test="storeComment != null" >
        store_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        #{policyId,jdbcType=VARCHAR},
      </if>
      <if test="distillColumnName != null" >
        #{distillColumnName,jdbcType=VARCHAR},
      </if>
      <if test="distillType != null" >
        #{distillType,jdbcType=VARCHAR},
      </if>
      <if test="distillComment != null" >
        #{distillComment,jdbcType=VARCHAR},
      </if>
      <if test="storeColumnName != null" >
        #{storeColumnName,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        #{storeType,jdbcType=VARCHAR},
      </if>
      <if test="storeComment != null" >
        #{storeComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbSubColumnExample" resultType="java.lang.Integer" >
    select count(*) from db_sub_column
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_sub_column
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.policyId != null" >
        policy_id = #{record.policyId,jdbcType=VARCHAR},
      </if>
      <if test="record.distillColumnName != null" >
        distill_column_name = #{record.distillColumnName,jdbcType=VARCHAR},
      </if>
      <if test="record.distillType != null" >
        distill_type = #{record.distillType,jdbcType=VARCHAR},
      </if>
      <if test="record.distillComment != null" >
        distill_comment = #{record.distillComment,jdbcType=VARCHAR},
      </if>
      <if test="record.storeColumnName != null" >
        store_column_name = #{record.storeColumnName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeType != null" >
        store_type = #{record.storeType,jdbcType=VARCHAR},
      </if>
      <if test="record.storeComment != null" >
        store_comment = #{record.storeComment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_sub_column
    set id = #{record.id,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      policy_id = #{record.policyId,jdbcType=VARCHAR},
      distill_column_name = #{record.distillColumnName,jdbcType=VARCHAR},
      distill_type = #{record.distillType,jdbcType=VARCHAR},
      distill_comment = #{record.distillComment,jdbcType=VARCHAR},
      store_column_name = #{record.storeColumnName,jdbcType=VARCHAR},
      store_type = #{record.storeType,jdbcType=VARCHAR},
      store_comment = #{record.storeComment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbSubColumn" >
    update db_sub_column
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        policy_id = #{policyId,jdbcType=VARCHAR},
      </if>
      <if test="distillColumnName != null" >
        distill_column_name = #{distillColumnName,jdbcType=VARCHAR},
      </if>
      <if test="distillType != null" >
        distill_type = #{distillType,jdbcType=VARCHAR},
      </if>
      <if test="distillComment != null" >
        distill_comment = #{distillComment,jdbcType=VARCHAR},
      </if>
      <if test="storeColumnName != null" >
        store_column_name = #{storeColumnName,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null" >
        store_type = #{storeType,jdbcType=VARCHAR},
      </if>
      <if test="storeComment != null" >
        store_comment = #{storeComment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbSubColumn" >
    update db_sub_column
    set pid = #{pid,jdbcType=VARCHAR},
      policy_id = #{policyId,jdbcType=VARCHAR},
      distill_column_name = #{distillColumnName,jdbcType=VARCHAR},
      distill_type = #{distillType,jdbcType=VARCHAR},
      distill_comment = #{distillComment,jdbcType=VARCHAR},
      store_column_name = #{storeColumnName,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=VARCHAR},
      store_comment = #{storeComment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>