<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.PsmDealResDetailMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.PsmDealResDetail" >
    <id column="res_id" property="resId" jdbcType="VARCHAR" />
    <result column="src_id" property="srcId" jdbcType="VARCHAR" />
    <result column="valid_state" property="validState" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="character_info" property="characterInfo" jdbcType="VARCHAR" />
    <result column="event_info" property="eventInfo" jdbcType="VARCHAR" />
    <result column="alarm_state" property="alarmState" jdbcType="VARCHAR" />
    <result column="alarm_type" property="alarmType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    res_id, src_id, valid_state, time, address, character_info, event_info, alarm_state, 
    alarm_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.PsmDealResDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from psm_deal_res_detail_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from psm_deal_res_detail_t
    where res_id = #{resId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from psm_deal_res_detail_t
    where res_id = #{resId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.PsmDealResDetailExample" >
    delete from psm_deal_res_detail_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.PsmDealResDetail" >
    insert into psm_deal_res_detail_t (res_id, src_id, valid_state, 
      time, address, character_info, 
      event_info, alarm_state, alarm_type
      )
    values (#{resId,jdbcType=VARCHAR}, #{srcId,jdbcType=VARCHAR}, #{validState,jdbcType=VARCHAR}, 
      #{time,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, #{characterInfo,jdbcType=VARCHAR}, 
      #{eventInfo,jdbcType=VARCHAR}, #{alarmState,jdbcType=VARCHAR}, #{alarmType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.PsmDealResDetail" >
    insert into psm_deal_res_detail_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        res_id,
      </if>
      <if test="srcId != null" >
        src_id,
      </if>
      <if test="validState != null" >
        valid_state,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="characterInfo != null" >
        character_info,
      </if>
      <if test="eventInfo != null" >
        event_info,
      </if>
      <if test="alarmState != null" >
        alarm_state,
      </if>
      <if test="alarmType != null" >
        alarm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        #{resId,jdbcType=VARCHAR},
      </if>
      <if test="srcId != null" >
        #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="validState != null" >
        #{validState,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="characterInfo != null" >
        #{characterInfo,jdbcType=VARCHAR},
      </if>
      <if test="eventInfo != null" >
        #{eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="alarmState != null" >
        #{alarmState,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        #{alarmType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.PsmDealResDetailExample" resultType="java.lang.Integer" >
    select count(*) from psm_deal_res_detail_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update psm_deal_res_detail_t
    <set >
      <if test="record.resId != null" >
        res_id = #{record.resId,jdbcType=VARCHAR},
      </if>
      <if test="record.srcId != null" >
        src_id = #{record.srcId,jdbcType=VARCHAR},
      </if>
      <if test="record.validState != null" >
        valid_state = #{record.validState,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=DATE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.characterInfo != null" >
        character_info = #{record.characterInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.eventInfo != null" >
        event_info = #{record.eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmState != null" >
        alarm_state = #{record.alarmState,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmType != null" >
        alarm_type = #{record.alarmType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update psm_deal_res_detail_t
    set res_id = #{record.resId,jdbcType=VARCHAR},
      src_id = #{record.srcId,jdbcType=VARCHAR},
      valid_state = #{record.validState,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      character_info = #{record.characterInfo,jdbcType=VARCHAR},
      event_info = #{record.eventInfo,jdbcType=VARCHAR},
      alarm_state = #{record.alarmState,jdbcType=VARCHAR},
      alarm_type = #{record.alarmType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.PsmDealResDetail" >
    update psm_deal_res_detail_t
    <set >
      <if test="srcId != null" >
        src_id = #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="validState != null" >
        valid_state = #{validState,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="characterInfo != null" >
        character_info = #{characterInfo,jdbcType=VARCHAR},
      </if>
      <if test="eventInfo != null" >
        event_info = #{eventInfo,jdbcType=VARCHAR},
      </if>
      <if test="alarmState != null" >
        alarm_state = #{alarmState,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        alarm_type = #{alarmType,jdbcType=VARCHAR},
      </if>
    </set>
    where res_id = #{resId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.PsmDealResDetail" >
    update psm_deal_res_detail_t
    set src_id = #{srcId,jdbcType=VARCHAR},
      valid_state = #{validState,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      character_info = #{characterInfo,jdbcType=VARCHAR},
      event_info = #{eventInfo,jdbcType=VARCHAR},
      alarm_state = #{alarmState,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=VARCHAR}
    where res_id = #{resId,jdbcType=VARCHAR}
  </update>
</mapper>