<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.DbParamsMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbParams" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="params_type" property="paramsType" jdbcType="VARCHAR" />
    <result column="params_key" property="paramsKey" jdbcType="VARCHAR" />
    <result column="params_value" property="paramsValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, params_type, params_key, params_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.DbParamsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from db_params
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from db_params
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbParamsExample" >
    delete from db_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbParams" >
    insert into db_params (id, params_type, params_key, 
      params_value)
    values (#{id,jdbcType=VARCHAR}, #{paramsType,jdbcType=VARCHAR}, #{paramsKey,jdbcType=VARCHAR}, 
      #{paramsValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbParams" >
    insert into db_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paramsType != null" >
        params_type,
      </if>
      <if test="paramsKey != null" >
        params_key,
      </if>
      <if test="paramsValue != null" >
        params_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="paramsType != null" >
        #{paramsType,jdbcType=VARCHAR},
      </if>
      <if test="paramsKey != null" >
        #{paramsKey,jdbcType=VARCHAR},
      </if>
      <if test="paramsValue != null" >
        #{paramsValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbParamsExample" resultType="java.lang.Integer" >
    select count(*) from db_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update db_params
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsType != null" >
        params_type = #{record.paramsType,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsKey != null" >
        params_key = #{record.paramsKey,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsValue != null" >
        params_value = #{record.paramsValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update db_params
    set id = #{record.id,jdbcType=VARCHAR},
      params_type = #{record.paramsType,jdbcType=VARCHAR},
      params_key = #{record.paramsKey,jdbcType=VARCHAR},
      params_value = #{record.paramsValue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbParams" >
    update db_params
    <set >
      <if test="paramsType != null" >
        params_type = #{paramsType,jdbcType=VARCHAR},
      </if>
      <if test="paramsKey != null" >
        params_key = #{paramsKey,jdbcType=VARCHAR},
      </if>
      <if test="paramsValue != null" >
        params_value = #{paramsValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbParams" >
    update db_params
    set params_type = #{paramsType,jdbcType=VARCHAR},
      params_key = #{paramsKey,jdbcType=VARCHAR},
      params_value = #{paramsValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>