<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microcore.center.mapper.DbSubFileMapper">
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DbSubFile">
    <id column="sub_id" jdbcType="VARCHAR" property="subId" />
    <result column="pub_id" jdbcType="VARCHAR" property="pubId" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="sub_desc" jdbcType="VARCHAR" property="subDesc" />
    <result column="sub_path" jdbcType="VARCHAR" property="subPath" />
    <result column="loc_path" jdbcType="VARCHAR" property="locPath" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="extract_type" jdbcType="VARCHAR" property="extractType" />
    <result column="backup_path" jdbcType="VARCHAR" property="backupPath" />
    <result column="exchange_info_id" jdbcType="VARCHAR" property="exchangeInfoId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="run_status" jdbcType="VARCHAR" property="runStatus" />
    <result column="del_status" jdbcType="VARCHAR" property="delStatus" />
    <result column="pub_user_id" jdbcType="VARCHAR" property="pubUserId" />
    <result column="pub_org_id" jdbcType="VARCHAR" property="pubOrgId" />
    <result column="sub_user_id" jdbcType="VARCHAR" property="subUserId" />
    <result column="sub_org_id" jdbcType="VARCHAR" property="subOrgId" />
    <result column="upd_user_id" jdbcType="VARCHAR" property="updUserId" />
    <result column="upd_tm" jdbcType="TIMESTAMP" property="updTm" />
    <result column="crt_user_id" jdbcType="VARCHAR" property="crtUserId" />
    <result column="crt_org_id" jdbcType="VARCHAR" property="crtOrgId" />
    <result column="crt_tm" jdbcType="TIMESTAMP" property="crtTm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sub_id, pub_id, sub_name, sub_desc, sub_path, loc_path, file_type, extract_type, 
    backup_path, exchange_info_id, status, run_status, del_status, pub_user_id, pub_org_id, 
    sub_user_id, sub_org_id, upd_user_id, upd_tm, crt_user_id, crt_org_id, crt_tm
  </sql>
  <select id="selectByExample" parameterType="com.microcore.center.model.DbSubFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from db_sub_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_sub_file
    where sub_id = #{subId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from db_sub_file
    where sub_id = #{subId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DbSubFileExample">
    delete from db_sub_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DbSubFile">
    insert into db_sub_file (sub_id, pub_id, sub_name, 
      sub_desc, sub_path, loc_path, 
      file_type, extract_type, backup_path, 
      exchange_info_id, status, run_status, 
      del_status, pub_user_id, pub_org_id, 
      sub_user_id, sub_org_id, upd_user_id, 
      upd_tm, crt_user_id, crt_org_id, 
      crt_tm)
    values (#{subId,jdbcType=VARCHAR}, #{pubId,jdbcType=VARCHAR}, #{subName,jdbcType=VARCHAR}, 
      #{subDesc,jdbcType=VARCHAR}, #{subPath,jdbcType=VARCHAR}, #{locPath,jdbcType=VARCHAR}, 
      #{fileType,jdbcType=VARCHAR}, #{extractType,jdbcType=VARCHAR}, #{backupPath,jdbcType=VARCHAR}, 
      #{exchangeInfoId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{runStatus,jdbcType=VARCHAR}, 
      #{delStatus,jdbcType=VARCHAR}, #{pubUserId,jdbcType=VARCHAR}, #{pubOrgId,jdbcType=VARCHAR}, 
      #{subUserId,jdbcType=VARCHAR}, #{subOrgId,jdbcType=VARCHAR}, #{updUserId,jdbcType=VARCHAR}, 
      #{updTm,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=VARCHAR}, #{crtOrgId,jdbcType=VARCHAR}, 
      #{crtTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DbSubFile">
    insert into db_sub_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        sub_id,
      </if>
      <if test="pubId != null">
        pub_id,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="subDesc != null">
        sub_desc,
      </if>
      <if test="subPath != null">
        sub_path,
      </if>
      <if test="locPath != null">
        loc_path,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="extractType != null">
        extract_type,
      </if>
      <if test="backupPath != null">
        backup_path,
      </if>
      <if test="exchangeInfoId != null">
        exchange_info_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="runStatus != null">
        run_status,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="pubUserId != null">
        pub_user_id,
      </if>
      <if test="pubOrgId != null">
        pub_org_id,
      </if>
      <if test="subUserId != null">
        sub_user_id,
      </if>
      <if test="subOrgId != null">
        sub_org_id,
      </if>
      <if test="updUserId != null">
        upd_user_id,
      </if>
      <if test="updTm != null">
        upd_tm,
      </if>
      <if test="crtUserId != null">
        crt_user_id,
      </if>
      <if test="crtOrgId != null">
        crt_org_id,
      </if>
      <if test="crtTm != null">
        crt_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        #{subId,jdbcType=VARCHAR},
      </if>
      <if test="pubId != null">
        #{pubId,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="subDesc != null">
        #{subDesc,jdbcType=VARCHAR},
      </if>
      <if test="subPath != null">
        #{subPath,jdbcType=VARCHAR},
      </if>
      <if test="locPath != null">
        #{locPath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null">
        #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="backupPath != null">
        #{backupPath,jdbcType=VARCHAR},
      </if>
      <if test="exchangeInfoId != null">
        #{exchangeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null">
        #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null">
        #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="subUserId != null">
        #{subUserId,jdbcType=VARCHAR},
      </if>
      <if test="subOrgId != null">
        #{subOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null">
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null">
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null">
        #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null">
        #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null">
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DbSubFileExample" resultType="java.lang.Integer">
    select count(*) from db_sub_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_sub_file
    <set>
      <if test="record.subId != null">
        sub_id = #{record.subId,jdbcType=VARCHAR},
      </if>
      <if test="record.pubId != null">
        pub_id = #{record.pubId,jdbcType=VARCHAR},
      </if>
      <if test="record.subName != null">
        sub_name = #{record.subName,jdbcType=VARCHAR},
      </if>
      <if test="record.subDesc != null">
        sub_desc = #{record.subDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.subPath != null">
        sub_path = #{record.subPath,jdbcType=VARCHAR},
      </if>
      <if test="record.locPath != null">
        loc_path = #{record.locPath,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null">
        file_type = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.extractType != null">
        extract_type = #{record.extractType,jdbcType=VARCHAR},
      </if>
      <if test="record.backupPath != null">
        backup_path = #{record.backupPath,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangeInfoId != null">
        exchange_info_id = #{record.exchangeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.runStatus != null">
        run_status = #{record.runStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.delStatus != null">
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pubUserId != null">
        pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.pubOrgId != null">
        pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.subUserId != null">
        sub_user_id = #{record.subUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.subOrgId != null">
        sub_org_id = #{record.subOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.updUserId != null">
        upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTm != null">
        upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUserId != null">
        crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtOrgId != null">
        crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTm != null">
        crt_tm = #{record.crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_sub_file
    set sub_id = #{record.subId,jdbcType=VARCHAR},
      pub_id = #{record.pubId,jdbcType=VARCHAR},
      sub_name = #{record.subName,jdbcType=VARCHAR},
      sub_desc = #{record.subDesc,jdbcType=VARCHAR},
      sub_path = #{record.subPath,jdbcType=VARCHAR},
      loc_path = #{record.locPath,jdbcType=VARCHAR},
      file_type = #{record.fileType,jdbcType=VARCHAR},
      extract_type = #{record.extractType,jdbcType=VARCHAR},
      backup_path = #{record.backupPath,jdbcType=VARCHAR},
      exchange_info_id = #{record.exchangeInfoId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      run_status = #{record.runStatus,jdbcType=VARCHAR},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      pub_user_id = #{record.pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{record.pubOrgId,jdbcType=VARCHAR},
      sub_user_id = #{record.subUserId,jdbcType=VARCHAR},
      sub_org_id = #{record.subOrgId,jdbcType=VARCHAR},
      upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{record.crtTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DbSubFile">
    update db_sub_file
    <set>
      <if test="pubId != null">
        pub_id = #{pubId,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="subDesc != null">
        sub_desc = #{subDesc,jdbcType=VARCHAR},
      </if>
      <if test="subPath != null">
        sub_path = #{subPath,jdbcType=VARCHAR},
      </if>
      <if test="locPath != null">
        loc_path = #{locPath,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="extractType != null">
        extract_type = #{extractType,jdbcType=VARCHAR},
      </if>
      <if test="backupPath != null">
        backup_path = #{backupPath,jdbcType=VARCHAR},
      </if>
      <if test="exchangeInfoId != null">
        exchange_info_id = #{exchangeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        run_status = #{runStatus,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="pubUserId != null">
        pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      </if>
      <if test="pubOrgId != null">
        pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      </if>
      <if test="subUserId != null">
        sub_user_id = #{subUserId,jdbcType=VARCHAR},
      </if>
      <if test="subOrgId != null">
        sub_org_id = #{subOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null">
        upd_user_id = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null">
        upd_tm = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null">
        crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null">
        crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null">
        crt_tm = #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sub_id = #{subId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DbSubFile">
    update db_sub_file
    set pub_id = #{pubId,jdbcType=VARCHAR},
      sub_name = #{subName,jdbcType=VARCHAR},
      sub_desc = #{subDesc,jdbcType=VARCHAR},
      sub_path = #{subPath,jdbcType=VARCHAR},
      loc_path = #{locPath,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      extract_type = #{extractType,jdbcType=VARCHAR},
      backup_path = #{backupPath,jdbcType=VARCHAR},
      exchange_info_id = #{exchangeInfoId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      run_status = #{runStatus,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      pub_user_id = #{pubUserId,jdbcType=VARCHAR},
      pub_org_id = #{pubOrgId,jdbcType=VARCHAR},
      sub_user_id = #{subUserId,jdbcType=VARCHAR},
      sub_org_id = #{subOrgId,jdbcType=VARCHAR},
      upd_user_id = #{updUserId,jdbcType=VARCHAR},
      upd_tm = #{updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{crtTm,jdbcType=TIMESTAMP}
    where sub_id = #{subId,jdbcType=VARCHAR}
  </update>
</mapper>