<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.PsmPersonInfoMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.PsmPersonInfo" >
    <result column="person_id" property="personId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="birth_date" property="birthDate" jdbcType="DATE" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="join_date" property="joinDate" jdbcType="DATE" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="personal_photo1" property="personalPhoto1" jdbcType="VARCHAR" />
    <result column="personal_photo2" property="personalPhoto2" jdbcType="VARCHAR" />
    <result column="care_status" property="careStatus" jdbcType="VARCHAR" />
    <result column="impt_care_status" property="imptCareStatus" jdbcType="VARCHAR" />
    <result column="impt_care_reason" property="imptCareReason" jdbcType="VARCHAR" />
    <result column="para" property="para" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    person_id, name, gender, birth_date, card_type, card_no, join_date, rank, personal_photo1, 
    personal_photo2, care_status, impt_care_status, impt_care_reason, para
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.PsmPersonInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from psm_person_info_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.PsmPersonInfoExample" >
    delete from psm_person_info_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.PsmPersonInfo" >
    insert into psm_person_info_t (person_id, name, gender, 
      birth_date, card_type, card_no, 
      join_date, rank, personal_photo1, 
      personal_photo2, care_status, impt_care_status, 
      impt_care_reason, para)
    values (#{personId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{birthDate,jdbcType=DATE}, #{cardType,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{joinDate,jdbcType=DATE}, #{rank,jdbcType=VARCHAR}, #{personalPhoto1,jdbcType=VARCHAR}, 
      #{personalPhoto2,jdbcType=VARCHAR}, #{careStatus,jdbcType=VARCHAR}, #{imptCareStatus,jdbcType=VARCHAR}, 
      #{imptCareReason,jdbcType=VARCHAR}, #{para,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.PsmPersonInfo" >
    insert into psm_person_info_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        person_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="personalPhoto1 != null" >
        personal_photo1,
      </if>
      <if test="personalPhoto2 != null" >
        personal_photo2,
      </if>
      <if test="careStatus != null" >
        care_status,
      </if>
      <if test="imptCareStatus != null" >
        impt_care_status,
      </if>
      <if test="imptCareReason != null" >
        impt_care_reason,
      </if>
      <if test="para != null" >
        para,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personId != null" >
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=DATE},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="personalPhoto1 != null" >
        #{personalPhoto1,jdbcType=VARCHAR},
      </if>
      <if test="personalPhoto2 != null" >
        #{personalPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="careStatus != null" >
        #{careStatus,jdbcType=VARCHAR},
      </if>
      <if test="imptCareStatus != null" >
        #{imptCareStatus,jdbcType=VARCHAR},
      </if>
      <if test="imptCareReason != null" >
        #{imptCareReason,jdbcType=VARCHAR},
      </if>
      <if test="para != null" >
        #{para,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.PsmPersonInfoExample" resultType="java.lang.Integer" >
    select count(*) from psm_person_info_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update psm_person_info_t
    <set >
      <if test="record.personId != null" >
        person_id = #{record.personId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.birthDate != null" >
        birth_date = #{record.birthDate,jdbcType=DATE},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.joinDate != null" >
        join_date = #{record.joinDate,jdbcType=DATE},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=VARCHAR},
      </if>
      <if test="record.personalPhoto1 != null" >
        personal_photo1 = #{record.personalPhoto1,jdbcType=VARCHAR},
      </if>
      <if test="record.personalPhoto2 != null" >
        personal_photo2 = #{record.personalPhoto2,jdbcType=VARCHAR},
      </if>
      <if test="record.careStatus != null" >
        care_status = #{record.careStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.imptCareStatus != null" >
        impt_care_status = #{record.imptCareStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.imptCareReason != null" >
        impt_care_reason = #{record.imptCareReason,jdbcType=VARCHAR},
      </if>
      <if test="record.para != null" >
        para = #{record.para,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update psm_person_info_t
    set person_id = #{record.personId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      birth_date = #{record.birthDate,jdbcType=DATE},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      join_date = #{record.joinDate,jdbcType=DATE},
      rank = #{record.rank,jdbcType=VARCHAR},
      personal_photo1 = #{record.personalPhoto1,jdbcType=VARCHAR},
      personal_photo2 = #{record.personalPhoto2,jdbcType=VARCHAR},
      care_status = #{record.careStatus,jdbcType=VARCHAR},
      impt_care_status = #{record.imptCareStatus,jdbcType=VARCHAR},
      impt_care_reason = #{record.imptCareReason,jdbcType=VARCHAR},
      para = #{record.para,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>