<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.PsmScheduleConfigMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.PsmScheduleConfig" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="object_id" property="objectId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="some_date" property="someDate" jdbcType="DATE" />
    <result column="start_time" property="startTime" jdbcType="TIME" />
    <result column="end_time" property="endTime" jdbcType="TIME" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="repeat_type" property="repeatType" jdbcType="VARCHAR" />
    <result column="check_start_time" property="checkStartTime" jdbcType="TIMESTAMP" />
    <result column="check_end_time" property="checkEndTime" jdbcType="TIMESTAMP" />
    <result column="check_flag" property="checkFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, object_type, object_id, number, some_date, start_time, end_time, address, event, 
    teacher, repeat_type, check_start_time, check_end_time, check_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.PsmScheduleConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from psm_schedule_config_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from psm_schedule_config_t
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from psm_schedule_config_t
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.PsmScheduleConfigExample" >
    delete from psm_schedule_config_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.PsmScheduleConfig" >
    insert into psm_schedule_config_t (id, object_type, object_id, 
      number, some_date, start_time, 
      end_time, address, event, 
      teacher, repeat_type, check_start_time, 
      check_end_time, check_flag)
    values (#{id,jdbcType=VARCHAR}, #{objectType,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{someDate,jdbcType=DATE}, #{startTime,jdbcType=TIME}, 
      #{endTime,jdbcType=TIME}, #{address,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{repeatType,jdbcType=VARCHAR}, #{checkStartTime,jdbcType=TIMESTAMP}, 
      #{checkEndTime,jdbcType=TIMESTAMP}, #{checkFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.PsmScheduleConfig" >
    insert into psm_schedule_config_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="someDate != null" >
        some_date,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="event != null" >
        event,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="repeatType != null" >
        repeat_type,
      </if>
      <if test="checkStartTime != null" >
        check_start_time,
      </if>
      <if test="checkEndTime != null" >
        check_end_time,
      </if>
      <if test="checkFlag != null" >
        check_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="someDate != null" >
        #{someDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIME},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="repeatType != null" >
        #{repeatType,jdbcType=VARCHAR},
      </if>
      <if test="checkStartTime != null" >
        #{checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkEndTime != null" >
        #{checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.PsmScheduleConfigExample" resultType="java.lang.Integer" >
    select count(*) from psm_schedule_config_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update psm_schedule_config_t
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.objectType != null" >
        object_type = #{record.objectType,jdbcType=VARCHAR},
      </if>
      <if test="record.objectId != null" >
        object_id = #{record.objectId,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.someDate != null" >
        some_date = #{record.someDate,jdbcType=DATE},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIME},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIME},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.event != null" >
        event = #{record.event,jdbcType=VARCHAR},
      </if>
      <if test="record.teacher != null" >
        teacher = #{record.teacher,jdbcType=VARCHAR},
      </if>
      <if test="record.repeatType != null" >
        repeat_type = #{record.repeatType,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStartTime != null" >
        check_start_time = #{record.checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkEndTime != null" >
        check_end_time = #{record.checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkFlag != null" >
        check_flag = #{record.checkFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update psm_schedule_config_t
    set id = #{record.id,jdbcType=VARCHAR},
      object_type = #{record.objectType,jdbcType=VARCHAR},
      object_id = #{record.objectId,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      some_date = #{record.someDate,jdbcType=DATE},
      start_time = #{record.startTime,jdbcType=TIME},
      end_time = #{record.endTime,jdbcType=TIME},
      address = #{record.address,jdbcType=VARCHAR},
      event = #{record.event,jdbcType=VARCHAR},
      teacher = #{record.teacher,jdbcType=VARCHAR},
      repeat_type = #{record.repeatType,jdbcType=VARCHAR},
      check_start_time = #{record.checkStartTime,jdbcType=TIMESTAMP},
      check_end_time = #{record.checkEndTime,jdbcType=TIMESTAMP},
      check_flag = #{record.checkFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.PsmScheduleConfig" >
    update psm_schedule_config_t
    <set >
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="someDate != null" >
        some_date = #{someDate,jdbcType=DATE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="repeatType != null" >
        repeat_type = #{repeatType,jdbcType=VARCHAR},
      </if>
      <if test="checkStartTime != null" >
        check_start_time = #{checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkEndTime != null" >
        check_end_time = #{checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkFlag != null" >
        check_flag = #{checkFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.PsmScheduleConfig" >
    update psm_schedule_config_t
    set object_type = #{objectType,jdbcType=VARCHAR},
      object_id = #{objectId,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      some_date = #{someDate,jdbcType=DATE},
      start_time = #{startTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME},
      address = #{address,jdbcType=VARCHAR},
      event = #{event,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      repeat_type = #{repeatType,jdbcType=VARCHAR},
      check_start_time = #{checkStartTime,jdbcType=TIMESTAMP},
      check_end_time = #{checkEndTime,jdbcType=TIMESTAMP},
      check_flag = #{checkFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>