<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainyhon.common.mapper.DealResMapper" >
  <resultMap id="BaseResultMap" type="com.rainyhon.common.model.DealRes" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="src_id" property="srcId" jdbcType="VARCHAR" />
    <result column="deal_state" property="dealState" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="complete_time" property="completeTime" jdbcType="DATE" />
    <result column="valid_state" property="validState" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="characters" property="characters" jdbcType="VARCHAR" />
    <result column="deal_event" property="dealEvent" jdbcType="VARCHAR" />
    <result column="alarm_state" property="alarmState" jdbcType="VARCHAR" />
    <result column="alarm_type" property="alarmType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, src_id, deal_state, start_time, complete_time, valid_state, time, address, characters, 
    deal_event, alarm_state, alarm_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rainyhon.common.model.DealResExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from deal_res
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from deal_res
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from deal_res
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rainyhon.common.model.DealResExample" >
    delete from deal_res
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rainyhon.common.model.DealRes" >
    insert into deal_res (id, src_id, deal_state, 
      start_time, complete_time, valid_state, 
      time, address, characters, 
      deal_event, alarm_state, alarm_type
      )
    values (#{id,jdbcType=VARCHAR}, #{srcId,jdbcType=VARCHAR}, #{dealState,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=DATE}, #{completeTime,jdbcType=DATE}, #{validState,jdbcType=VARCHAR}, 
      #{time,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, #{characters,jdbcType=VARCHAR}, 
      #{dealEvent,jdbcType=VARCHAR}, #{alarmState,jdbcType=VARCHAR}, #{alarmType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rainyhon.common.model.DealRes" >
    insert into deal_res
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="srcId != null" >
        src_id,
      </if>
      <if test="dealState != null" >
        deal_state,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="validState != null" >
        valid_state,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="characters != null" >
        characters,
      </if>
      <if test="dealEvent != null" >
        deal_event,
      </if>
      <if test="alarmState != null" >
        alarm_state,
      </if>
      <if test="alarmType != null" >
        alarm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="srcId != null" >
        #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="dealState != null" >
        #{dealState,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=DATE},
      </if>
      <if test="validState != null" >
        #{validState,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="characters != null" >
        #{characters,jdbcType=VARCHAR},
      </if>
      <if test="dealEvent != null" >
        #{dealEvent,jdbcType=VARCHAR},
      </if>
      <if test="alarmState != null" >
        #{alarmState,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        #{alarmType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rainyhon.common.model.DealResExample" resultType="java.lang.Integer" >
    select count(*) from deal_res
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update deal_res
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.srcId != null" >
        src_id = #{record.srcId,jdbcType=VARCHAR},
      </if>
      <if test="record.dealState != null" >
        deal_state = #{record.dealState,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.completeTime != null" >
        complete_time = #{record.completeTime,jdbcType=DATE},
      </if>
      <if test="record.validState != null" >
        valid_state = #{record.validState,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=DATE},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.characters != null" >
        characters = #{record.characters,jdbcType=VARCHAR},
      </if>
      <if test="record.dealEvent != null" >
        deal_event = #{record.dealEvent,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmState != null" >
        alarm_state = #{record.alarmState,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmType != null" >
        alarm_type = #{record.alarmType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update deal_res
    set id = #{record.id,jdbcType=VARCHAR},
      src_id = #{record.srcId,jdbcType=VARCHAR},
      deal_state = #{record.dealState,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=DATE},
      complete_time = #{record.completeTime,jdbcType=DATE},
      valid_state = #{record.validState,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=DATE},
      address = #{record.address,jdbcType=VARCHAR},
      characters = #{record.characters,jdbcType=VARCHAR},
      deal_event = #{record.dealEvent,jdbcType=VARCHAR},
      alarm_state = #{record.alarmState,jdbcType=VARCHAR},
      alarm_type = #{record.alarmType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rainyhon.common.model.DealRes" >
    update deal_res
    <set >
      <if test="srcId != null" >
        src_id = #{srcId,jdbcType=VARCHAR},
      </if>
      <if test="dealState != null" >
        deal_state = #{dealState,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=DATE},
      </if>
      <if test="validState != null" >
        valid_state = #{validState,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="characters != null" >
        characters = #{characters,jdbcType=VARCHAR},
      </if>
      <if test="dealEvent != null" >
        deal_event = #{dealEvent,jdbcType=VARCHAR},
      </if>
      <if test="alarmState != null" >
        alarm_state = #{alarmState,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null" >
        alarm_type = #{alarmType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rainyhon.common.model.DealRes" >
    update deal_res
    set src_id = #{srcId,jdbcType=VARCHAR},
      deal_state = #{dealState,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=DATE},
      complete_time = #{completeTime,jdbcType=DATE},
      valid_state = #{validState,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      characters = #{characters,jdbcType=VARCHAR},
      deal_event = #{dealEvent,jdbcType=VARCHAR},
      alarm_state = #{alarmState,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>