<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microcore.center.mapper.DetectResultMapper" >
  <resultMap id="BaseResultMap" type="com.microcore.center.model.DetectResult" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="material_id" property="materialId" jdbcType="VARCHAR" />
    <result column="angle" property="angle" jdbcType="INTEGER" />
    <result column="center_x" property="centerX" jdbcType="INTEGER" />
    <result column="center_y" property="centerY" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.microcore.center.model.DetectResult" extends="BaseResultMap" >
    <result column="base64" property="base64" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, material_id, angle, center_x, center_y, group_id, height, width, create_time
  </sql>
  <sql id="Blob_Column_List" >
    base64
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.microcore.center.model.DetectResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from detect_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.microcore.center.model.DetectResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from detect_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from detect_result
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from detect_result
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.microcore.center.model.DetectResultExample" >
    delete from detect_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microcore.center.model.DetectResult" >
    insert into detect_result (id, material_id, angle, 
      center_x, center_y, group_id, 
      height, width, create_time, 
      base64)
    values (#{id,jdbcType=VARCHAR}, #{materialId,jdbcType=VARCHAR}, #{angle,jdbcType=INTEGER}, 
      #{centerX,jdbcType=INTEGER}, #{centerY,jdbcType=INTEGER}, #{groupId,jdbcType=VARCHAR}, 
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{base64,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.microcore.center.model.DetectResult" >
    insert into detect_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="angle != null" >
        angle,
      </if>
      <if test="centerX != null" >
        center_x,
      </if>
      <if test="centerY != null" >
        center_y,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="base64 != null" >
        base64,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="angle != null" >
        #{angle,jdbcType=INTEGER},
      </if>
      <if test="centerX != null" >
        #{centerX,jdbcType=INTEGER},
      </if>
      <if test="centerY != null" >
        #{centerY,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="base64 != null" >
        #{base64,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microcore.center.model.DetectResultExample" resultType="java.lang.Integer" >
    select count(*) from detect_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update detect_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=VARCHAR},
      </if>
      <if test="record.angle != null" >
        angle = #{record.angle,jdbcType=INTEGER},
      </if>
      <if test="record.centerX != null" >
        center_x = #{record.centerX,jdbcType=INTEGER},
      </if>
      <if test="record.centerY != null" >
        center_y = #{record.centerY,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null" >
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.base64 != null" >
        base64 = #{record.base64,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update detect_result
    set id = #{record.id,jdbcType=VARCHAR},
      material_id = #{record.materialId,jdbcType=VARCHAR},
      angle = #{record.angle,jdbcType=INTEGER},
      center_x = #{record.centerX,jdbcType=INTEGER},
      center_y = #{record.centerY,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=INTEGER},
      width = #{record.width,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      base64 = #{record.base64,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update detect_result
    set id = #{record.id,jdbcType=VARCHAR},
      material_id = #{record.materialId,jdbcType=VARCHAR},
      angle = #{record.angle,jdbcType=INTEGER},
      center_x = #{record.centerX,jdbcType=INTEGER},
      center_y = #{record.centerY,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=INTEGER},
      width = #{record.width,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microcore.center.model.DetectResult" >
    update detect_result
    <set >
      <if test="materialId != null" >
        material_id = #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="angle != null" >
        angle = #{angle,jdbcType=INTEGER},
      </if>
      <if test="centerX != null" >
        center_x = #{centerX,jdbcType=INTEGER},
      </if>
      <if test="centerY != null" >
        center_y = #{centerY,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="base64 != null" >
        base64 = #{base64,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.microcore.center.model.DetectResult" >
    update detect_result
    set material_id = #{materialId,jdbcType=VARCHAR},
      angle = #{angle,jdbcType=INTEGER},
      center_x = #{centerX,jdbcType=INTEGER},
      center_y = #{centerY,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      base64 = #{base64,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microcore.center.model.DetectResult" >
    update detect_result
    set material_id = #{materialId,jdbcType=VARCHAR},
      angle = #{angle,jdbcType=INTEGER},
      center_x = #{centerX,jdbcType=INTEGER},
      center_y = #{centerY,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>