<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainyhon.common.mapper.GuestMapper" >
  <resultMap id="BaseResultMap" type="com.rainyhon.common.model.Guest" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="target_area_id" property="targetAreaId" jdbcType="VARCHAR" />
    <result column="target_org_id" property="targetOrgId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="visit_reason" property="visitReason" jdbcType="VARCHAR" />
    <result column="guest_photo" property="guestPhoto" jdbcType="VARCHAR" />
    <result column="del_status" property="delStatus" jdbcType="VARCHAR" />
    <result column="upd_user_id" property="updUserId" jdbcType="VARCHAR" />
    <result column="upd_org_id" property="updOrgId" jdbcType="VARCHAR" />
    <result column="upd_tm" property="updTm" jdbcType="TIMESTAMP" />
    <result column="crt_user_id" property="crtUserId" jdbcType="VARCHAR" />
    <result column="crt_org_id" property="crtOrgId" jdbcType="VARCHAR" />
    <result column="crt_tm" property="crtTm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, card_type, card_number, target_area_id, target_org_id, start_time, end_time, 
    visit_reason, guest_photo, del_status, upd_user_id, upd_org_id, upd_tm, crt_user_id, 
    crt_org_id, crt_tm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rainyhon.common.model.GuestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from guest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from guest
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from guest
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rainyhon.common.model.GuestExample" >
    delete from guest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rainyhon.common.model.Guest" >
    insert into guest (id, name, card_type, 
      card_number, target_area_id, target_org_id, 
      start_time, end_time, visit_reason, 
      guest_photo, del_status, upd_user_id, 
      upd_org_id, upd_tm, crt_user_id, 
      crt_org_id, crt_tm)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR}, #{targetAreaId,jdbcType=VARCHAR}, #{targetOrgId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{visitReason,jdbcType=VARCHAR}, 
      #{guestPhoto,jdbcType=VARCHAR}, #{delStatus,jdbcType=VARCHAR}, #{updUserId,jdbcType=VARCHAR}, 
      #{updOrgId,jdbcType=VARCHAR}, #{updTm,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=VARCHAR}, 
      #{crtOrgId,jdbcType=VARCHAR}, #{crtTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rainyhon.common.model.Guest" >
    insert into guest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="targetAreaId != null" >
        target_area_id,
      </if>
      <if test="targetOrgId != null" >
        target_org_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="visitReason != null" >
        visit_reason,
      </if>
      <if test="guestPhoto != null" >
        guest_photo,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="updUserId != null" >
        upd_user_id,
      </if>
      <if test="updOrgId != null" >
        upd_org_id,
      </if>
      <if test="updTm != null" >
        upd_tm,
      </if>
      <if test="crtUserId != null" >
        crt_user_id,
      </if>
      <if test="crtOrgId != null" >
        crt_org_id,
      </if>
      <if test="crtTm != null" >
        crt_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="targetAreaId != null" >
        #{targetAreaId,jdbcType=VARCHAR},
      </if>
      <if test="targetOrgId != null" >
        #{targetOrgId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitReason != null" >
        #{visitReason,jdbcType=VARCHAR},
      </if>
      <if test="guestPhoto != null" >
        #{guestPhoto,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rainyhon.common.model.GuestExample" resultType="java.lang.Integer" >
    select count(*) from guest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update guest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null" >
        card_type = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNumber != null" >
        card_number = #{record.cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.targetAreaId != null" >
        target_area_id = #{record.targetAreaId,jdbcType=VARCHAR},
      </if>
      <if test="record.targetOrgId != null" >
        target_org_id = #{record.targetOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.visitReason != null" >
        visit_reason = #{record.visitReason,jdbcType=VARCHAR},
      </if>
      <if test="record.guestPhoto != null" >
        guest_photo = #{record.guestPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updUserId != null" >
        upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updOrgId != null" >
        upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTm != null" >
        upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUserId != null" >
        crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtOrgId != null" >
        crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTm != null" >
        crt_tm = #{record.crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update guest
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      card_type = #{record.cardType,jdbcType=VARCHAR},
      card_number = #{record.cardNumber,jdbcType=VARCHAR},
      target_area_id = #{record.targetAreaId,jdbcType=VARCHAR},
      target_org_id = #{record.targetOrgId,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      visit_reason = #{record.visitReason,jdbcType=VARCHAR},
      guest_photo = #{record.guestPhoto,jdbcType=VARCHAR},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{record.crtTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rainyhon.common.model.Guest" >
    update guest
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="targetAreaId != null" >
        target_area_id = #{targetAreaId,jdbcType=VARCHAR},
      </if>
      <if test="targetOrgId != null" >
        target_org_id = #{targetOrgId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitReason != null" >
        visit_reason = #{visitReason,jdbcType=VARCHAR},
      </if>
      <if test="guestPhoto != null" >
        guest_photo = #{guestPhoto,jdbcType=VARCHAR},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        upd_user_id = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        upd_tm = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        crt_tm = #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rainyhon.common.model.Guest" >
    update guest
    set name = #{name,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      target_area_id = #{targetAreaId,jdbcType=VARCHAR},
      target_org_id = #{targetOrgId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      visit_reason = #{visitReason,jdbcType=VARCHAR},
      guest_photo = #{guestPhoto,jdbcType=VARCHAR},
      del_status = #{delStatus,jdbcType=VARCHAR},
      upd_user_id = #{updUserId,jdbcType=VARCHAR},
      upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      upd_tm = #{updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{crtTm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>