<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainyhon.common.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.rainyhon.common.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_person_id" property="realPersonId" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="login_error_count" property="loginErrorCount" jdbcType="INTEGER" />
    <result column="locked" property="locked" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="total_login_count" property="totalLoginCount" jdbcType="INTEGER" />
    <result column="del_status" property="delStatus" jdbcType="VARCHAR" />
    <result column="upd_user_id" property="updUserId" jdbcType="VARCHAR" />
    <result column="upd_org_id" property="updOrgId" jdbcType="VARCHAR" />
    <result column="upd_tm" property="updTm" jdbcType="TIMESTAMP" />
    <result column="crt_user_id" property="crtUserId" jdbcType="VARCHAR" />
    <result column="crt_org_id" property="crtOrgId" jdbcType="VARCHAR" />
    <result column="crt_tm" property="crtTm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, password, real_person_id, email, phone_number, login_error_count, locked, 
    last_login_time, total_login_count, del_status, upd_user_id, upd_org_id, upd_tm, 
    crt_user_id, crt_org_id, crt_tm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rainyhon.common.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rainyhon.common.model.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rainyhon.common.model.User" >
    insert into user (id, username, password, 
      real_person_id, email, phone_number, 
      login_error_count, locked, last_login_time, 
      total_login_count, del_status, upd_user_id, 
      upd_org_id, upd_tm, crt_user_id, 
      crt_org_id, crt_tm)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realPersonId,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{loginErrorCount,jdbcType=INTEGER}, #{locked,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{totalLoginCount,jdbcType=INTEGER}, #{delStatus,jdbcType=VARCHAR}, #{updUserId,jdbcType=VARCHAR}, 
      #{updOrgId,jdbcType=VARCHAR}, #{updTm,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=VARCHAR}, 
      #{crtOrgId,jdbcType=VARCHAR}, #{crtTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rainyhon.common.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realPersonId != null" >
        real_person_id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="loginErrorCount != null" >
        login_error_count,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="totalLoginCount != null" >
        total_login_count,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="updUserId != null" >
        upd_user_id,
      </if>
      <if test="updOrgId != null" >
        upd_org_id,
      </if>
      <if test="updTm != null" >
        upd_tm,
      </if>
      <if test="crtUserId != null" >
        crt_user_id,
      </if>
      <if test="crtOrgId != null" >
        crt_org_id,
      </if>
      <if test="crtTm != null" >
        crt_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realPersonId != null" >
        #{realPersonId,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginErrorCount != null" >
        #{loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalLoginCount != null" >
        #{totalLoginCount,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rainyhon.common.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.realPersonId != null" >
        real_person_id = #{record.realPersonId,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.loginErrorCount != null" >
        login_error_count = #{record.loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="record.locked != null" >
        locked = #{record.locked,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginTime != null" >
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalLoginCount != null" >
        total_login_count = #{record.totalLoginCount,jdbcType=INTEGER},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.updUserId != null" >
        upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updOrgId != null" >
        upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.updTm != null" >
        upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crtUserId != null" >
        crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtOrgId != null" >
        crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTm != null" >
        crt_tm = #{record.crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      real_person_id = #{record.realPersonId,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      login_error_count = #{record.loginErrorCount,jdbcType=INTEGER},
      locked = #{record.locked,jdbcType=INTEGER},
      last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      total_login_count = #{record.totalLoginCount,jdbcType=INTEGER},
      del_status = #{record.delStatus,jdbcType=VARCHAR},
      upd_user_id = #{record.updUserId,jdbcType=VARCHAR},
      upd_org_id = #{record.updOrgId,jdbcType=VARCHAR},
      upd_tm = #{record.updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{record.crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{record.crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{record.crtTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rainyhon.common.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realPersonId != null" >
        real_person_id = #{realPersonId,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginErrorCount != null" >
        login_error_count = #{loginErrorCount,jdbcType=INTEGER},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalLoginCount != null" >
        total_login_count = #{totalLoginCount,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=VARCHAR},
      </if>
      <if test="updUserId != null" >
        upd_user_id = #{updUserId,jdbcType=VARCHAR},
      </if>
      <if test="updOrgId != null" >
        upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        upd_tm = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUserId != null" >
        crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      </if>
      <if test="crtOrgId != null" >
        crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        crt_tm = #{crtTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rainyhon.common.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      real_person_id = #{realPersonId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      login_error_count = #{loginErrorCount,jdbcType=INTEGER},
      locked = #{locked,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      total_login_count = #{totalLoginCount,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=VARCHAR},
      upd_user_id = #{updUserId,jdbcType=VARCHAR},
      upd_org_id = #{updOrgId,jdbcType=VARCHAR},
      upd_tm = #{updTm,jdbcType=TIMESTAMP},
      crt_user_id = #{crtUserId,jdbcType=VARCHAR},
      crt_org_id = #{crtOrgId,jdbcType=VARCHAR},
      crt_tm = #{crtTm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>